:root{
  --primary-white:#ffffff;
  --primary-bluegray:#3c6e71;
  --primary-dark: rgb(255,255,255,0);
  --primary-text: #ffc857;
  --primary-red:#d1495b;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/********************NAVBAR*****************************/
nav{
  z-index: 2;
}
.logo{
  width:4.375rem;
  height: 4.375rem;
  border-radius: 5px;
}

/************************NAVLINKS********************************/
nav a.nav-link{
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li{
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
}

.navbar-nav > li > a{
  margin-right:0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  
}
.navbar-brand{
  max-width: 17.25rem;
  padding-top: 0 !important;
  height: 4.50rem !important;
}
.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-bluegray);
}
.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-bluegray);
}

/********************HEADER*****************************/

.header-wraper{
  position: relative;
  background: url(steele-rutherford-P4tbpnpz61Y-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;

}
.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  font-family: 'Space Mono', monospace;
}
.main-info h1 {
  color: var(--primary-text);
  text-transform: uppercase;
  font-family: 'Space Mono', monospace;
}
@media(max-width: 768px){
  .main-info h1{
    font-size: 1.5rem !important;
  }
}
/************************TYPED TEXT********************************/
.typed-text{
  font-size: 2rem;
  color: white;

}
/************************TYPED TEXT********************************/
.btn-main-offer{
  background-color: rgb(58, 57, 57);
  color: aliceblue;
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin: 2rem;
}
.btn-main-offer:hover{
  text-decoration: none;
  background-color: var(--primary-red);
  color: #ffffff;
  transition: .2s ease-in-out;
}
/************************PARTICLES********************************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width: 768px){
  .particles-canvas{
    display: none;
  }
}
/***********************ABOUT*********************************/
.aboutFig{
  padding-top:25px;
  margin-top:25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px;
  border-radius: 5px;
  box-shadow: 0 0.25em 0.5em 0 rgb(0,0,0,0.25);
}
.aboutImg{
  float: left;
  border-radius: 20px;
  margin-top: 2rem;
  width: 15rem;
  box-shadow: 0 0.25em 0.5em 0 rgb(0,0,0,0.25);
}
.figCap{
 margin-top: 5rem;
 width: 850px;
 padding-left: 1.5rem;
 text-align: justify;
 font-family: 'Space Mono', monospace;
}
.social{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}
@media only screen and (max-width:800px){
  .container{
    width: 100%;
  }
  .figCap{
    width: 250px;
  }
}

/************************TIMELINE********************************/
.body{
  background: #282c34;
  color: #ffffff;

}
.vertical-timeline-element-tilte{
  color: #282c34;
}
.timelineTitle{
  font-size: 3rem;
  text-align: center;
  font-family: 'Space Mono', monospace;
  margin-top: 5.5rem;
  
  /* text-transform: uppercase; */
}
h3{
  padding-top: 0.25em;
  font-family: 'Space Mono', monospace;
  
}
.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgb(0,0,0,0.25), 0 0.4em 1.25em 0 rgb(0,0,0,0.15) !important;
  padding: 2em 3em !important;
  
}
#description{
  margin: 1.5em 0 2em 0;
}
@media only screen and (max-width:1700px){
  .vertical-timeline-element-date{
    display: block !important;
    float: none !important;
  }
}
/************************WORK********************************/
.workCont{
  margin: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'Space Mono', monospace;
  padding-top: 50px;
}
.techUse{
  margin: 2rem;
  font-family: 'Space Mono', monospace;
  padding-bottom: 60px;
}
.workHead{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
  padding-top: 30px;
}

/************************CONTACT********************************/

.contactForm{
  
  background-color: #282c34;
  color:white ;
}
.formContainer{
  padding-top: 30px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: space-between !important;
  width: 50px;
  font-family: 'Space Mono', monospace;

}
.contactHead{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Space Mono', monospace;
}